<div class="links">

  <div class="links__container">
    <h1 class="links__title">Positive Links:</h1>
    <a class="link--positive">Caribbean</a>
  </div>


  <div class="links__container">
    <h1 class="links__title">Negative Links:</h1>
    <a class="link--negative">Ruby</a>
  </div>

  <div class="links__container">
    <h1 class="links__title">Neutral Links:</h1>
    <a class="link--neutral">Mountain</a>
  </div>

</div>
