@import "../mixins/activity/username.css";
@import "../mixins/activity/commit.css";
@import "../mixins/activity/mention.css";
@import "../mixins/text/h5.css";

.action-activity {
  @mixin h5;
  @mixin activity-username;
}

.action-commit {
  @mixin h5;
  @mixin activity-commit;
}

.action-mention {
  @mixin h5;
  @mixin activity-mention;
}
