@import "../mixins/text/h1.css";
@import "../mixins/text/h2.css";
@import "../mixins/text/h3.css";
@import "../mixins/text/h4.css";
@import "../mixins/text/h5.css";

.h1 {
  @mixin h1;
}

.h2 {
  @mixin h2;
}

.h3 {
  @mixin h3;
}

.h4 {
  @mixin h4;
}

.h5 {
  @mixin h5;
}
