@import "../mixins/text/h1.css";

$list-internal-padding: 2rem;

.tabs__title {
  @mixin h1;
}

.tabs__list {
  background: white;
  position:   relative;
  min-height: 50vh;
  padding:    $list-internal-padding;
  margin:     0;
  overflow:   auto;
  list-style: none;
}

.tabs__list__item {
  width:      calc(100% - $list-internal-padding);
  height:     calc(100% - $list-internal-padding);
  position:   absolute;
  top:        $list-internal-padding;
  left:       $list-internal-padding;
  background: white;
}
