@define-mixin activity-username {

  box-sizing:    border-box;
  padding:       $activity-padding;

  background:    $pampas;
  border:        1px solid $pampas-border;
  border-radius: $activity-border-radius;

  color:         $thunder;
  font-weight:   bold;
  letter-spacing:  .1em;

  transition: background-color 0.1s ease;

  &:hover {
    background: color($pampas saturation(- 2%) shade(10%));
    cursor:     pointer;
  }
}
