@import "../mixins/text/h1.css";
@import "../mixins/text/h2.css";

.index {
  display:         flex;
  flex-direction:  column;
  height:          100%;
  justify-content: center;
  align-items:     center;
}

.index__title {
  @mixin h1;
}

.index__detail {
  @mixin h2;
}
